@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
html, body{
 width: 100%;
 height: 100%;
 margin :0;
 padding : 0;
}

body{
   
    background-image: url("imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}
#boilers-container{
   width: 100%;
   margin : 0;
}
#boilers-container tr{
    padding : 12px !important;
    width: 100%;
    cursor: pointer;
}

#menuBar{
    height: 40px;
    width: 100%;
}
.dropdown-toggle:after { content: none }
